body {
  background-color: #e8ecef;
  margin:0px;
}

html {
  min-height: 100%;
  position: relative;
}

.container-fluid {
  padding-top: 70px;
  padding-bottom: 70px;
}

.secret-text {
  text-align: center;
  font-size: 2rem;
  color: #fff;
  background-color: #000;
}

.del-btn {
  padding: 5px;
  text-align: center;
  font-size: 1rem;
  color: #fff;
  background-color: red;
}

.log-btn {
  text-align: center;
  font-size: 2rem;
  color: black;
  background-color: #fff;
}

.navbar {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: aquamarine;
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
  font-size: 12px;
  letter-spacing: 5px;
}
.navbar-nav li a:hover {
  color: black !important;
}

.footer-padding {
  padding-bottom: 60px;
}

.footer {
  position: absolute;
  text-align: center;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #1abc9c;
}

.footer p {
  margin-top: 25px;
  font-size: 12px;
  color: #fff;
}